@tailwind base;
@tailwind components;
@tailwind utilities;
/* font */
@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 700;
  src: local("Spoqa Han Sans Bold"),
    url("./fonts/SpoqaHanSans/SpoqaHanSansNeo-Bold.woff") format("woff"),
    url("./fonts/SpoqaHanSans/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
    url("./fonts/SpoqaHanSans/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 500;
  src: local("Spoqa Han Sans Medium"),
    url("./fonts/SpoqaHanSans/SpoqaHanSansNeo-Medium.woff") format("woff"),
    url("./fonts/SpoqaHanSans/SpoqaHanSansNeo-Medium.woff2") format("woff2"),
    url("./fonts/SpoqaHanSans/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "Spoqa Han Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
